#benchmarkMainCont{
    display: flex;
    color: white;
    flex-direction: column;
    margin: 5vh 5vw;
    padding: 2vw;
    border: 0.2vw solid #dc0000;
    text-align: center;
}
#benchmarkMainCont input{
    font-size: 1.5vw;
    margin: 0 25vw;
    background-color: transparent;
    outline: #dc0000 0.2vw solid;
    border: none;
    padding: 0.2vw;
    color: #fff;
    text-align: center;
    margin-bottom: 3vh;
}
#benchmarksVidCont{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5vw;
}
.filter{
    display: flex;
    flex-direction: column;
    border: #dc0000 0.2vw solid;
    padding: 1vw 0.5vw;
}
.filter h3{
    font-size: 1.4vw;
}
.filter iframe{
    aspect-ratio: 16/9;
}
@media screen and (max-width: 800px){
    #benchmarksVidCont{
        grid-template-columns: auto;
        gap: none;
    }
    .filter{
        margin: 1vh auto;
    }
    .filter h3{
        font-size: 2vh;
    }
}