body{
    background-color: #2f2f2f;
	padding: 0;
	padding-top: 10.65vh;
	margin: 0;
}
*{
	font-family: monospace;
	transition: all 0.2s;
}
* button:hover{
	cursor: pointer;
}
*::-webkit-scrollbar {
	height: 1.5vh;
	width: 0.8vw;
  }
*::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: #272727;
  }
  
*::-webkit-scrollbar-track:hover {
	background-color: #272727;
  }
  
*::-webkit-scrollbar-track:active {
	background-color: #272727;
  }
  
*::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #DC0000;
  }
  
*::-webkit-scrollbar-thumb:hover {
	background-color: #DC0000;
  }
  
*::-webkit-scrollbar-thumb:active {
	background-color: #DC0000;
  }
  
  a{
	color: white;
	text-decoration: none;
  }
.fixedView{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

#mainMenuBanner{
    background-image: url("../imgs/banner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#mainMenuBanner div *{
    z-index: 99;
}
@keyframes mainMenuBannerAnimation {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#mainMenuBanner div{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
	padding: 20vh 0;
    text-align: center;
    animation: mainMenuBannerAnimation 2s;
}
#mainMenuBanner h1{
	width: 50vw;
    margin-bottom: 0;
    color: white;
    font-size: 3.6vw;
    padding: 0 1vw;
}
#mainMenuBanner p{
    color: white;
    font-size: 1.5vw;
    padding: 0 25vw;
}
#mainMenuBanner button{
    background-color: transparent;
    border: #fff 0.2vw solid;
    font-size: 1.7vw;
    font-family: monospace;
    color: #fff;
    padding: 0.2vh 2vw;
    margin-bottom: 10vh;
	scroll-behavior: smooth;
}
#mainMenuBanner button:hover{
	font-weight: 600;
    scale: 1.1;
    background-color: rgba(255, 255, 255, 50);
    color: #000;
}
#announcementBanner{
    display: block;
    color: #fff;
    background-color: #dc0000;
    margin: 0 0;
	text-align: center;
}
#announcementBanner a{
	text-decoration: none;
    margin: 0 0;
    padding: 0 0;
    text-align: center;
    font-size: 1.5vw;
    line-height: 5vh;
}
#menu {
	background: #272727;
	height: 5vh;
	border: 0.2vw solid #DC0000;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: center;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 5vh;
	padding: 0 1vw;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 0.9vw;
	cursor: pointer;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 0.5vw;
}
#menu li a:hover {
	color: #DC0000;
	background: #272727;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 5vh;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 5vh;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 1vw;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: max-content;
	background: #272727;
	position: absolute;
	z-index: 99;
	display: none;
	cursor: pointer;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #272727;
	color: #DC0000;
}
.spacer{
	width: 80vw;
	border: none;
	border: none !important;
	border-top: #DC0000 0.2vw solid !important;
	margin: 3vh auto;
	height: 0 !important;
	padding: 0 !important;
}
@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
footer{
	display: flex;
	flex-direction: column;
	color: #fff;
	margin: 3vh 5vw;
	border: #dc0000 0.2vw solid;
	padding: 1vw;
}
footer img{
	width: 25vw;
	aspect-ratio: 16/9;
}
footer div{
	display: grid;
	grid-template-columns: auto auto auto auto;
}
footer div div{
	display: flex;
	flex-direction: column !important;
}
footer * p{
	display: inline;
	width: 25vw;
	font-size: 1vw;
}
footer * a{
	font-size: 1.2vw;
	margin: 0.75vh 0;
	text-decoration: none;
}
footer * h3{
	font-size: 1.5vw;
}
footer h4{
	text-align: center;
}

#searchCont{
    border-top: #dc0000 0.2vw solid;
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    margin: 0 5vw;
    margin-top: 10vh;
}
input{
    font-size: 1.5vw;
    width: 40vw;
    background-color: transparent;
    outline: #dc0000 0.2vw solid;
    border: none;
    padding: 0.2vw;
    color: #fff;
    text-align: center;
    margin-bottom: 3vh;
}
.desktopHide{
    display: none !important;
}
.mobileHide{
    display: flex !important;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#272727;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
	#menu a{
		font-size: 2vh;
	}
	body{
		margin-top: 0vh;
	}
    #mainMenuBanner{
        background-size: 195%;
        height: 50vh;
    }
    #announcementBanner a{  
        font-size: 1.5vh;
    }
    #mainMenuBanner div{
        padding-top: 10vh;
        justify-content: start;
    }
    #mainMenuBanner h1{
        font-size: 4vh;
		width: 80vw;
    }
    #mainMenuBanner p{
		padding: 0 10vw;
        font-size: 1.2vh;
    }
    #mainMenuBanner button{
        font-size: 2.5vh;
    }
	footer{
		flex-direction: column;
		margin: 1vh 5vw;
	}
	footer img{
		width: 70vw;
		margin: 0 auto;
	}
	footer div{
		grid-template-columns: auto;
	}
	footer * p{
		width: 70vw;
		text-align: center;
		font-size: 1vh;
		margin: 0 auto;
	}
	footer * a{
		font-size: 1.5vh;
	}
	footer * h3{
		font-size: 2.5vh;
	}
	footer div div{
		margin-left: 8vw;
	}
	footer div div:first-of-type{
		margin: 0;
	}
	footer h4{
		text-align: center;
	}
	input{
		font-size: 2vh;
		width: 70vw;
	}
    .desktopHide{
        display: flex !important;
    }
    .mobileHide{
        display: none !important;
    }
}