#sc{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin: 3vh 5vw;
    gap: 1vw;
}
#sc img{
    width: 4vw;
}
#sc a{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.1px);
	-webkit-backdrop-filter: blur(7.1px);
}
#sc a:hover{
    background-color: #dc0000;
}
#sc p{
    font-size: 1vw;
}
#sc h5{
    margin: 0;
    font-size: 1vw;
}
@media screen and (max-width: 1500px){
    #sc{
        grid-template-columns: auto auto auto auto auto auto;
    }
    #sc p{
        font-size: .8vw;
    }
    #sc h5{
        font-size: 1vw;
    }
}
@media screen and (max-width: 1200px){
    #sc{
        grid-template-columns: auto auto auto auto;
    }
    #sc p{
        font-size: 1vw;
    }
    #sc h5{
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 800px){
    #sc{
        grid-template-columns: auto auto;
    }
    #sc p{
        font-size: 1.4vh;
    }
    #sc h5{
        font-size: 1.4vh;
    }
}